/* MEDIA QUERY */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media(min-width:400px) and (max-width:600px) {
    #header {
        width: 100vw;
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    * {
        margin: 0;
        padding: 0;
        font-family: "Inter", sans-serif;
    }

    #header img {
        width: 40vw;
    }

    body {
        color: #474747;
    }

    #form-body {
        background-image: linear-gradient(#babbf3, #cecff8);
        background-repeat: no-repeat;
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #form {
        background-color: white;
        width: 80%;
        height: 70%;
        border-radius: 5px;
    }

    #form-titles {
        width: 100%;
        text-align: center;
    }

    #form-titles h2 {
        letter-spacing: 3px;
    }

    #form-tiles p {
        margin-top: 1vh;
        color: #474747;
        word-spacing: 7px;
    }

    #form-titles a {
        color: #474747;
    }

    #form-inputs label {
        font-size: 14px;
        font-weight: bold;

    }

    #form-inputs {
        display: flex;
        flex-direction: column;
        padding-left: 8vw;
        margin-top: 4vh;
    }

    #form-inputs input {
        width: 86%;
        height: 6vh;
        background-color: #dad8d8;
        border: none;
        outline: none;
        border-radius: 5px;
        margin-bottom: 4vh;
    }



    #form-inputs input::placeholder {
        padding-left: 10px;
        font-size: 18px;
    }

    #form-inputs button {
        width: 86%;
        height: 6vh;
        background-color: #c92071;
        color: white;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        font-weight: 600;
    }

    #login {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        color: #474747;
        flex-direction: column;
        gap: 15px;
    }

    #rodape {
        color: white;
        background-color: #1f1f1f;
        width: 100%;
        height: 100%;
        padding-top: 3vh;

    }

    #rodape1 p {
        padding-top: 3vh;
        padding-inline-start: 5%;
    }

    #rodape2 img {
        padding-top: 5vh;
        padding-left: 3vh;
    }

    #rodape3 {
        text-align: center;
        padding-top: 3vh;
        display: flex;
        width: 15%;
        height: 35vh;
        gap: 34vw;
        padding-left: 5%;


    }

#rodape4{
    padding-inline-start: 5%;
    margin-bottom:  6%;
}

#rodape5{
text-align: center;
padding-bottom: 5vh;
}
}